<div class="pageContent" layoutH="0" style="padding: 10px;">

    <style type="text/css">
        .client_container {
            width: 100%;
        }
        .client_box {
            width: 200px;
            height: 230px;
            margin: 10px;
            display: inline-block;
        }
        .client {
            width:180px;
            height: 180px;
            margin: 0 auto;
            border: 1px solid grey;
            border-radius: 15px;
            text-align: center;
            line-height: 180px;
            vertical-align: middle;
            font-size: 32px;
            font-weight: bold;
        }

        .client_toolbar {
            width:180px;
            height: 48px;
            margin: 0 auto;
            text-align: center;
        }

        a.link-button {
            display: inline-block;
            padding: 6px 10px;
            border-radius: 10px;
            border: 1px solid grey;
        }

        a.client-bar-button {
            margin-top: 10px;
            margin-right: 5px;
        }

    </style>

    <div class = "client_container">
        {% for client in client_list %}
        <div class = "client_box">
            <div class = "client">
                {{ client.client_name }}
            </div>
            <div class = "client_toolbar">
                <!-- 打开外部网页
                <a class="link-button client-bar-button" href="http://www.baidu.com" target="navTab" external="true" rel="nim_call">视频通话</a>
                -->
                <a class="link-button client-bar-button" href="nim_call?client_id={{ client.client_id }}" target="navTab" rel="nim_call">视频通话</a>
                <a class="link-button client-bar-button" href="client_locus?client_id={{ client.client_id }}" target="navTab" rel="locus">位置轨迹</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


