<div id="mapPageContent" class="pageContent" layoutH="0">
    <div id="mapContainer" style="height: 700px;">
    </div>
</div>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("mapContainer");
    var center = new BMap.Point(116.404, 39.915);

    map.centerAndZoom(center, 15);

    var data_info = [[116.417854, 39.921988, "2017/9/7 10:59:23"],
        [116.406605, 39.921585, "2017/9/7 11:13:55"],
        [116.412222, 39.912345, "2017/9/7 11:34:46"]
    ];

    var start_icon = new BMap.Icon("http://api0.map.bdimg.com/images/dest_markers.png",
            new BMap.Size(33,33), {imageOffset: new BMap.Size(0, 0)});

    var end_icon = new BMap.Icon("http://api0.map.bdimg.com/images/dest_markers.png",
            new BMap.Size(33,33), {imageOffset: new BMap.Size(0, -33)});

    var polylinePoints = [];
    for (var i = 0; i < data_info.length; i++) {
        var point = new BMap.Point(data_info[i][0], data_info[i][1]);
        polylinePoints.push(point);
        var tipContent = "<h4>时间：" + data_info[i][2] + "</h4>";
        var infoWindow = new BMap.InfoWindow(tipContent);  // 创建信息窗口对象
        var marker = null;
        if (i == 0) {
            //起点
            marker = new BMap.Marker(point, {icon: start_icon});
        } else if (i == data_info.length - 1) {
            //终点
            marker = new BMap.Marker(point, {icon: end_icon});
        } else {
            //中间点
            marker = new BMap.Marker(point);
        }
        if(marker) {
            map.addOverlay(marker);
            marker.addEventListener("click", function () {
                this.openInfoWindow(infoWindow);
            });
            /*
            marker.addEventListener("mouseover", function () {
                    this.openInfoWindow(infoWindow);
                });
                marker.addEventListener("mouseout", function () {
                    this.closeInfoWindow();
                });*/
            }
        }
        if(polylinePoints.length > 0) {
            var polyline = new BMap.Polyline(polylinePoints, {strokeColor:"blue", strokeWeight:5, strokeOpacity:0.5});
            map.addOverlay(polyline);
        }
    </script>